
<div style="text-align:center">
    <div class="card-header bg-secondary text-white font" style="font-size: 30px;">ลบไมโครคอนโทรลเลอร์ </div>
  </div><br>

<table class="table table-bordered">
<tbody>
    <tr>
        <td scope="row">User_ID</td>
        <td>User_ID</td>
    <tr>
        <td scope="row">Plot_ID</td>
        <td>Plot_ID</td>
    </tr>
    <tr>
        <td scope="row">Sub_Topic</td>
        <td>Sub_Topic</td>
    <tr>
        <td scope="row">Log_ID</td>
        <td>Log_ID</td>
    </tr>
   
    <tr>
        <th scope="row"> <button type="button" class="btn btn-success ">ตกลง</button></th>
        <td><button mat-raised-button (click)="closeDialog()" type="button" class="btn btn-danger ">ยกเลิก</button></td>
    </tr>
</tbody>
</table>