
<div style="text-align:center">
    <div class="card-header bg-secondary text-white font" style="font-size: 30px;">ลบข้อมูลพืช</div>
  </div><br>

<table class="table table-bordered">
<tbody>
    <tr>
        <td scope="row">ชื่อ</td>
        <td>ผักกาด	</td>
    <tr>
        <td scope="row">อุณหภูมิ</td>
        <td>30</td>
    </tr>
    <tr>
        <td scope="row">ความชื้น</td>
        <td>15</td>
    <tr>
        <td scope="row">แสง</td>
        <td>180</td>
    </tr>
    <tr>
        <td scope="row">เวลาเก็บ</td>
        <td>เวลาเก็บ</td>
    </tr>
    <tr>
        <th scope="row"> <button type="button" class="btn btn-success ">ตกลง</button></th>
        <td><button mat-raised-button (click)="closeDialog()" type="button" class="btn btn-danger ">ยกเลิก</button></td>
    </tr>
</tbody>
</table>