<div style="text-align:center">
        <div class="card-header bg-secondary text-white font" style="font-size: 30px;">ลบ User</div>
      </div><br>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td scope="row">ชื่อ</td>
            <td>ชื่อ</td>
        <tr>
            <td scope="row">สกุล</td>
            <td>สกุล</td>
        </tr>
        <tr>
            <td scope="row">Email</td>
            <td>Email</td>
        <tr>
            <td scope="row">รหัสผ่าน</td>
            <td>รหัสผ่าน</td>
        </tr>
        <tr>
            <td scope="row">Level</td>
            <td>Level</td>
        </tr>
        <tr>
            <th scope="row"> <button type="button" class="btn btn-success ">ตกลง</button></th>
            <td><button mat-raised-button (click)="closeDialog()" type="button" class="btn btn-danger ">ยกเลิก</button></td>
        </tr>
    </tbody>
</table>